// ===== ABOUT ME =====

.sectionAboutMe {
    padding: 0;
    margin-top: 40px;
    @media (max-width: 480px) {
        padding: 40px 0 0;
    }
}

.aboutMeArticle {
    display:flex;
    justify-content: space-between;
    height: 100%;   
    margin: 0 auto 40px;
    /* Landscape phone to portrait tablet */
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.profilePic {
    width: 35%;
    height: 100%;
    @media (max-width: 915px) {
        width: 40%;
    }
    img {
        border-radius: 50%;
        width: 100%;
        border: 5px solid $secondaryColour;
        box-shadow: 
        0 1px 2px $thirdOverlay,
        0 1px 5px $thirdOverlay,
        0 1px 10px $thirdOverlay;
    }
}

.followMeSocial{
    position: relative;
    
}

.aboutMeColumn {
    width: 60%;
    padding: 20px;
    margin: 0;
    color: $primaryColour;
    @media (max-width: 915px) {
        width: 55%;
    }
    @media (max-width: 768px) {
        width: 80%;
    }    
    @media (max-width: 480px) {
        width: 95%;
    }
    .aboutMeInfo{
        h3 {
            margin-top: 0;
            padding: 0;
            @media (max-width: 915px) {
                line-height: 1.4;
            }
        }
    }
    ul {
        padding: 10px 0;
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
            justify-content: center;
        }
        li {
            margin: 5px;
            &:hover {
                background: $sixthAccentColour;
            }
            &:hover > a > i {
                color: $secondaryColour;
            }
        }
    }
}


