article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #222;
  background: #fcfcfc; }

.wrapper {
  width: 80%;
  max-width: 1500px;
  margin: 0 auto; }

h2 {
  font-size: 3.5rem; }

h3 {
  font-size: 2.5rem; }

p {
  font-size: 1.6rem; }

.btn {
  color: #0393ff;
  text-decoration: none;
  font-size: 2rem;
  padding: 10px 20px;
  margin: 0 10px;
  background: #fcfcfc;
  border-radius: 40px;
  text-transform: uppercase;
  letter-spacing: .5px; }

.socialIconList {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0; }
  .socialIconList li {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 5px;
    background: #00f2fe;
    border-radius: 50%; }
    .socialIconList li i {
      line-height: 40px;
      font-size: 2rem;
      color: #0393ff; }

header {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#0393ff), to(#00f2fe));
  background: -webkit-linear-gradient(#0393ff, #00f2fe);
  background: -o-linear-gradient(#0393ff, #00f2fe);
  background: linear-gradient(#0393ff, #00f2fe); }

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px; }

.headerNav {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.headerNav a {
  font-size: 1.5rem;
  color: #fcfcfc;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase; }

.hero {
  height: 100%; }

h1 {
  font-size: 6rem;
  text-align: center;
  margin-top: 200px; }

.btnHero {
  text-align: center; }

.sectionAboutMe h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 80px 0 40px; }

.sectionAboutMe .aboutMeArticle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.aboutMeColumn {
  width: 50%; }
  .aboutMeColumn .aboutMeInfo h3 {
    margin-top: 0; }

.profilePic {
  width: 45%; }
  .profilePic img {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.followMeSocial h3 {
  font-size: 2.5rem; }

.skills {
  margin-top: 80px;
  padding: 80px 0;
  background: #00f2fe; }
  .skills .skillList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none; }
    .skills .skillList li {
      width: calc(11.11% - 5px);
      text-align: center; }
      .skills .skillList li i {
        font-size: 8rem; }
      .skills .skillList li p {
        font-size: 2rem;
        margin: 10px 0 0;
        padding: 0; }

.portfolio h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 80px 0; }

.projectList {
  list-style: none; }
  .projectList li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 40px 0; }
    .projectList li:nth-of-type(2) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
      .projectList li:nth-of-type(2) article {
        text-align: right; }
    .projectList li figure {
      width: 45%; }
      .projectList li figure img {
        max-width: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .projectList li article {
      width: 45%; }

.contactForm {
  margin: 80px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .contactForm form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 35%;
    font-size: 1.6rem; }
    .contactForm form input {
      padding: 10px; }
    .contactForm form textarea {
      padding: 10px; }

footer {
  background: #0393ff;
  text-align: center;
  margin: 80px 0 0;
  padding: 5px; }
